.users-list {
    button {
        margin-bottom: 16px;
    }
}
.user-table {
    width: 100%;
    th,
    td {
        text-align: left;
        padding: 8px 16px;
    }
}

.user-cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.user {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @media (min-width: 450px) {
        min-width: 350px;
    }
    .name {
        h2 {
            font-size: 20px;
            font-weight: bold;
        }
        div {
            color: #888;
            font-size: 12px;
        }
    }
    .contact {
        font-size: 13px;
    }
}
